@page
@* @model LapTopShop.Areas.Admin.Views.Home.Index
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1> *@

<div class="container-app">
            <div class="header">
                <div class="box-left">
                    <div class="change-size">
                        <!-- fullsize -->
                        <i class="fa-solid fa-expand"></i> 

                        <!-- minsize -->
                        <!-- <i class="fa-solid fa-compress"></i> -->

                    </div>
                    <div class="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>

                <div class="box-right">
                    <div class="bell">
                        <i class="fa-regular fa-bell"></i>
                        <span>5</span>
                    </div>

                    <div class="user">
                        <div class="name">
                            Trần Tân
                        </div>

                        <div class="avatar">
                            <img src="https://demos.pixinvent.com/modern-html-admin-template/app-assets/images/portrait/small/avatar-s-19.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="home-page">
                    <div class="list-card-top">
                        <div class="card-item revenue">
                            <div class="card-top">
                                <div class="card-content">
                                    <div class="value">
                                        18.490.000₫
                                    </div>
                                    <div class="title">
                                        Doanh Thu
                                    </div>
                                </div>
                                <div class="card-icon">
                                    <i class="fa-brands fa-bitcoin"></i>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="progress-bar">

                                </div>
                            </div>
                        </div>

                        <div class="card-item profit">
                            <div class="card-top">
                                <div class="card-content">
                                    <div class="value">
                                        18.490.000₫
                                    </div>
                                    <div class="title">
                                        Lợi Nhuận
                                    </div>
                                </div>
                                <div class="card-icon">
                                    <i class="fa-solid fa-chart-pie"></i>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="progress-bar">

                                </div>
                            </div>
                        </div>

                        <div class="card-item sold">
                            <div class="card-top">
                                <div class="card-content">
                                    <div class="value">
                                        10K
                                    </div>
                                    <div class="title">
                                        Đã Bán
                                    </div>
                                </div>
                                <div class="card-icon">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="progress-bar">

                                </div>
                            </div>
                        </div>

                        <div class="card-item user">
                            <div class="card-top">
                                <div class="card-content">
                                    <div class="value">
                                        1023
                                    </div>
                                    <div class="title">
                                        Người Dùng
                                    </div>
                                </div>
                                <div class="card-icon">
                                    <i class="fa-solid fa-users-viewfinder"></i>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="progress-bar">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="charts">
                        <div class="chart-left">
                            <div class="title">
                                Thống Kê Doanh Thu
                            </div>
                            <div class="chart-content">
                                <div id="chart_revenue" class="chart">
                                
                                </div>

                                
                            </div>
                        </div>

                        <div class="chart-right">
                            <div class="title">
                                Top Sản Phẩm Bán Chạy
                            </div>
                            <div class="chart-content">
                               

                                <div id="chart_product" class="chart">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>