
/* Ẩn nút tăng/giảm giá trị trong trường số */
.cartInput  input[type="number"]::-webkit-inner-spin-button,
.cartInput  input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cartInput .error-input {
    border: 1px solid red;
}

.cartInput .form-input .title{
    display: flex;

}

.cartInput .form-input .title i{
    color: #e94560;
    margin-right: 0.5em;
}

.cartInput .order-bottom{
    display: flex;
    justify-content: space-between;
}

.cartInput .order-bottom button{
    border: none;
    color: #ffffff;
    min-width: 7em;
    min-height: 2.5em;
    border-radius: 5px;
}

.cartInput .order-bottom a{
    border: none;
    min-width: 7em;
    min-height: 2.5em;
    border-radius: 5px;
    color: #ffffff !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartInput .btn-back{
    background-color: #d0021c;
}

.cartInput .btn-order{
    background-color: #0f3460;
}
